service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to read and write
    match /{allPaths=**} {
      allow read, write: if request.auth != null; // Only allow authenticated users
    }
  }
}
